GMAIL_PASS="your-gmail-app-password"
ADMIN_EMAIL="your-admin-email"
MONGODB_URI="your-mongodb-uri"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
NEXTAUTH_SECRET="your-nextauth-secret"
